aiohttp==0.21.5
amqp==1.4.9
anyjson==0.3.3
chardet==2.3.0
click==6.6
eventlet==0.18.4
greenlet==0.4.9
kombu==3.0.35
mock==2.0.0
nameko==2.3.0
path.py==8.2.1
pbr==1.9.1
PyYAML==3.11
requests==2.10.0
six==1.10.0
ujson==1.35
Werkzeug==0.11.9
